body {
    background-color: rgb(114, 72, 16);
    color: rgb(16, 16, 93);
    font-family: cursive;

}
nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;

}

header {
    text-align: center;


}

.lgButton{
    width: 200px;
    height: 30px;
    background-color: rgb(55, 53, 53);
    border-radius: 15px;
    border-color: aquamarine;

}